<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/style.css">
</head>

<body>
   <%- include('../includes/nav.ejs') %>

<form class="container" action="/admin/questions" method="POST">
    <% if (errorMessage) { %>
        <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
    <div class="form-group">
        <label for="question">Question </label> 
        <input class="form-control"
                class="<%= validationErrors.find(e => e.param === 'question') ? 'invalid' : '' %>" 
                type="text"
                name="question" 
                id="question" 
                value="<%= oldInput.question %>">
    </div>
    <input type="hidden" name="quizId" value="<%= quizId %>">
    <div class="form-group">
        <label for="options">Options </label> 
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="op1">Op 1 </label>
                <input class="form-control"
                    class="<%= validationErrors.find(e => e.param === 'op1') ? 'invalid' : '' %>" 
                    type="text"
                    name="op1" 
                    id="op1" 
                    value="<%= oldInput.op1 %>">
                <label for="op2">Op 2 </label>
                <input class="form-control"
                    class="<%= validationErrors.find(e => e.param === 'op2') ? 'invalid' : '' %>" 
                    type="text"
                    name="op2" 
                    id="op2" 
                    value="<%= oldInput.op2 %>">
                <label for="op3">Op 3 </label>
                <input class="form-control"
                    class="<%= validationErrors.find(e => e.param === 'op3') ? 'invalid' : '' %>" 
                    type="text"
                    name="op3" 
                    id="op3" 
                    value="<%= oldInput.op3 %>">
                <label for="op4">Op 4 </label>
                <input class="form-control"
                    class="<%= validationErrors.find(e => e.param === 'op4') ? 'invalid' : '' %>" 
                    type="text"
                    name="op4" 
                    id="op4" 
                    value="<%= oldInput.op4 %>">
              </div>
            </div>
    </div>
    <div class="form-group">
        <label for="answer">Answer </label> 
        <input class="form-control"
            class="<%= validationErrors.find(e => e.param === 'answer') ? 'invalid' : '' %>" 
            type="text"
            name="answer" 
            id="answer" 
            value="<%= oldInput.answer %>">
    </div>
    
    
        <input type="hidden" value="<%= csrfToken %>"  name="_csrf">
        <button type="submit" class="btn btn-primary">Submit</button>
        
    
  </form>

  <%- include('../includes/end.ejs') %>